var modes = [
  { id: "factory", name: "Neuinstallation der Freifunk Firmware" },
  { id: "sysupgrade", name: "Update der Freifunk Firmware" }
];

var sites = [
  { id: "bcd", name: "Burscheid" },
  { id: "bgl", name: "Bergisch Gladbach" },
  { id: "bgl", name: "Gelsenkirchen" },
  { id: "kut", name: "Kürten" },
  { id: "lln", name: "Leichlingen" },
  { id: "ode", name: "Odenthal" },
  { id: "ovr", name: "Overath" },
  { id: "rrh", name: "Rösrath" },
];

//router list for gluon v2015.1
var manufacturers = [
  "Buffalo",
  "D-Link",
  "GL-Inet",
  "Linksys",
  "TP-Link",
  "Ubiquiti",
  "Netgear"
];

var routers = [
  { id: "buffalo-wzr-hp-ag300h-wzr-600dhp", name: "WZR-600DHP", manufacturer: "Buffalo" },
  { id: "buffalo-wzr-hp-g450h", name: "WZR-HP-G450H", manufacturer: "Buffalo" },
  { id: "d-link-dir-615-rev-c1", name: "615", manufacturer: "D-Link" },
  { id: "d-link-dir-825-rev-b1", name: "825", manufacturer: "D-Link" },
  { id: "gl-inet-6408a-v1", name: "6408A", manufacturer: "GL-Inet" },
  { id: "gl-inet-6416a-v1", name: "6416A", manufacturer: "GL-Inet" },
  { id: "linksys-wrt160nl", name: "WRT160NL", manufacturer: "Linksys" },
  { id: "netgear-wndr3700", name: "WNDR3700 Ver:1", manufacturer: "Netgear" },
  { id: "netgear-wndr3700v2", name: "WNDR3700 Ver:2", manufacturer: "Netgear" },
  { id: "netgear-wndr3800", name: "WNDR3800 Ver:1", manufacturer: "Netgear" },
  { id: "netgear-wndrmacv2", name: "WNDRMAC Ver:2", manufacturer: "Netgear" },
  { id: "tp-link-cpe210-v1.0", name: "CPE210 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-cpe220-v1.0", name: "CPE220 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-cpe510-v1.0", name: "CPE510 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-cpe520-v1.0", name: "CPE520 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-mr3020-v1", name: "TL-MR3020 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-mr3040-v1", name: "TL-MR3040 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-mr3040-v2", name: "TL-MR3040 Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-mr3220-v1", name: "TL-MR3220 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-mr3220-v2", name: "TL-MR3220 Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-mr3420-v1", name: "TL-MR3420 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-mr3420-v2", name: "TL-MR3420 Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wa701n-nd", name: "TL-WA701N/ND", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wa750re-v1", name: "TL-WA750RE Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wa801n-nd-v2", name: "TL-WA801N/ND Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wa850re-v1", name: "TL-WA850RE Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wa860re-v1", name: "TL-WA860RE Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wa901n-nd-v2", name: "TL-WA901N/ND Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wa901n-nd-v3", name: "TL-WA901N/ND Ver:3", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wdr3500-v1", name: "TL-WDR3500 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wdr3600-v1", name: "TL-WDR3600 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wdr4300-v1", name: "TL-WDR4300 Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr703n-v1", name: "TL-WR703N Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr710n-v1", name: "TL-WR710N Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr740n-nd-v1", name: "TL-WR740N/ND Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr740n-nd-v3", name: "TL-WR740N/ND Ver:3", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr740n-nd-v4", name: "TL-WR740N/ND Ver:4", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr741n-nd-v1", name: "TL-WR741N/ND Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr741n-nd-v2", name: "TL-WR741N/ND Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr741n-nd-v4", name: "TL-WR741N/ND Ver:4", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr743n-nd-v1", name: "TL-WR743N/ND Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr743n-nd-v2", name: "TL-WR743N/ND Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr841n-nd-v3", name: "TL-WR841N/ND Ver:3", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr841n-nd-v5", name: "TL-WR841N/ND Ver:5", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr841n-nd-v7", name: "TL-WR841N/ND Ver:7", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr841n-nd-v8", name: "TL-WR841N/ND Ver:8", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr841n-nd-v9", name: "TL-WR841N/ND Ver:9", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr842n-nd-v1", name: "TL-WR842N/ND Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr842n-nd-v2", name: "TL-WR842N/ND Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr941n-nd-v2", name: "TL-WR941N/ND Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr941n-nd-v3", name: "TL-WR941N/ND Ver:3", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr941n-nd-v4", name: "TL-WR941N/ND Ver:4", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr941n-nd-v5", name: "TL-WR941N/ND Ver:5", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr1043n-nd-v1", name: "TL-WR1043N/ND Ver:1", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr1043n-nd-v2", name: "TL-WR1043N/ND Ver:2", manufacturer: "TP-Link" },
  { id: "tp-link-tl-wr2543n-nd-v1", name: "TL-WR2543N/ND Ver:1", manufacturer: "TP-Link" },
  { id: "ubiquiti-bullet-m", name: "Bullet M", manufacturer: "Ubiquiti" },
  { id: "ubiquiti-loco-m-xw", name: "Loco M XW", manufacturer: "Ubiquiti" },
  { id: "ubiquiti-nanostation-m-xw", name: "Nanostation M XW", manufacturer: "Ubiquiti" },
  { id: "ubiquiti-nanostation-m", name: "Nanostation M", manufacturer: "Ubiquiti" },	 
  { id: "ubiquiti-unifi-ap-pro", name: "UniFi AP Pro", manufacturer: "Ubiquiti" },
  { id: "ubiquiti-unifi", name: "UniFi", manufacturer: "Ubiquiti" },
  { id: "ubiquiti-unifiap-outdoor", name: "UniFi AP Outdoor", manufacturer: "Ubiquiti" }
];

var version = { id: "0.7.0-20150522", shortname: "0.7.0", url: "http://images.ff.petabyteboy.de/{{selectedSite}}/stable/{{selectedMode}}/gluon-ffgl-{{selectedSite=='gek' ? 'gek-0.7.0-20150615' : selectedSite+'-'+version.id}}-{{selectedRouter}}{{selectedMode=='sysupgrade'?'-sysupgrade.':'.'}}{{splitString(selectedRouter,7)=='netgear' && selectedMode=='factory' ? 'img' : 'bin'}}" }
