
<!--Copyright 2015 PetaByteBoy

    This file is part of the Material Design Firmware Downloader.

    The Material Design Firmware Downloader is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    The Material Design Firmware Downloader is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with the Material Design Firmware Downloader.  If not, see <http://www.gnu.org/licenses/>. -->

<html>
  <head>
    <title>Freifunk gl.wupper - Firmware Download</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="style.css"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="lib/angular-material.min.css"/>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="firmwareDownload">
    <div class="main">
      <div ng-controller="SelectCtrl" layout-align="center center" layout="column">
        <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
          <div class="whiteframe-content">
            <img src="img/logo.png" class="md-card-image" alt="Freifunk gl.wupper">
            <h1 class="headline">Freifunk gl.wupper Firmware</h1>
            <h2 class="headline">Version 0.6.3 herunterladen</h2>
            <md-select ng-model="selectedMode">
              <md-option ng-repeat="mode in modes" value="{{mode.id}}">{{mode.name}}</md-option>
            </md-select> 
            <md-select placeholder="Bitte wähle einen Ort" ng-model="selectedRegion">
              <md-option ng-repeat="region in regions" value="{{region.id}}">{{region.name}}</md-option>
            </md-select>
            <md-select placeholder="Bitte wähle einen Router" ng-model="selectedRouter">
              <md-option ng-repeat="router in routers" value="{{router.id}}">{{router.name}}</md-option>
            </md-select>
            <md-button class="md-raised md-primary" ng-href="http://firmware.ff.petabyteboy.de/{{selectedRegion}}/stable/{{selectedMode}}/gluon-ffgl-{{selectedRegion}}-0.6.3-20150419-{{selectedRouter}}{{selectedMode=='sysupgrade'?'-sysupgrade.bin':'.bin'}}" ng-disabled="!(selectedRegion && selectedRouter)">Download Firmware</md-button>
          </div>
        </md-whiteframe>
      </div>
    </div>
  </body>

</html>
