
/*  Copyright 2015 PetaByteBoy

    This file is part of the Material Design Firmware Downloader.

    The Material Design Firmware Downloader is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    The Material Design Firmware Downloader is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with the Material Design Firmware Downloader.  If not, see <http://www.gnu.org/licenses/>. */

.main {
  text-align: center;
  background-image: url("img/background.png");
  background-size: cover;
  background-position: center center;
}

.headline {
  text-transform: uppercase;
  padding: 0 15px;
}

.md-card-image {
  -webkit-filter: drop-shadow(0px 5px 8px #222);
  filter: drop-shadow(0px 5px 8px #222);
  width: 20vw;
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

md-whiteframe {
  overflow: auto !important;
  width: 55%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}

md-select {
  width: 90%;
  margin: 15px;
}

.md-button {
  width: 80%;
  margin: 30px !important; 
}

.whiteframe-content {
  height: 100%;
}

@media (orientation: portrait) {
  md-whiteframe {
    width: 90%;
  }

  .md-card-image {
    width: 55vw;
  }
}

.license {
  margin-top 60px;
  -webkit-margin-before: 15px;
  -webkit-margin-after: 15px;
  -webkit-margin-start: 60px;
  -webkit-margin-end: 60px;
  -moz-margin-before: 15px;
  -moz-margin-after: 15px;
  -moz-margin-start: 60px;
  -moz-margin-end: 60px;
}
